body{
    text-align: center;
}
.img1{
    width: 500px;
    margin-bottom: 50px;
}
#s1{
    color: gold;
    bottom: 0;
    z-index: 9;
    background: black;
    display: table;
    width: 100%;
    height: 100%;
}
h1{
    font-size: 30px;
}
#heading{
    font-family: monospace;
}
h2{
    font-size: 25px;
    font-family: inherit;
}
#bio{
    padding: 50px;
    font-size: 20px;
    font-family: sans-serif;
}
.navbar{
   position: sticky;
    width:100%;
    top: 0;
    z-index: 99999;
}
.links:hover{
    background-color: antiquewhite;
    text-decoration: underline;
}
#s2{
    background-color: mediumpurple;
}
#s3{
    background-color: blue;
}
#s4{
    background-color: white;
    padding: 50px;
}
#s5{
    background-color: red
}
html{
    scroll-behavior: smooth;
}
.line{
    height: 5px;
    background-color: darkviolet;
    width: 80px;
    margin: 8px auto;
}
.1:hover{
    background-color: mediumspringgreen;
    text-decoration: underline;
}